.container{
  margin: auto;
  width: 200px;
  border: 2px solid #17b2f0;
  text-align: center;
  border-radius: 50px 0px 50px 0px;
  background-color: #cbe9f3;
}
.header{
  font-family: Georgia, sans-serif;
  font-size: 1em;
  letter-spacing: -2px;
  color:#17b2f0;
}